{% extends "base.html" %}

{% block content %}
  {% for item in object_list %}
  <div class="row">
    <div class="col-md-12">
      <div class="profile-header">
        <h1 class="col-xs-12 col-md-6 col-lg-12">My Parties</h1>
      </div>
    </div>
  </div>
    <div class="partylist">
      <div class="wrapper">
      <div class="card col-md-3">
        <dl>
          <dd class="list">Name of your party: {{ item.party_name }}</dd>
          <dd class="list">Candidate: <a href='{{ item.candidate.website }}'>{{ item.candidate }}</a></dd>
          <dd class="list">Pundit: <a href="{{ item.pundit.website }}">{{ item.pundit }}</a></dd>
          <dd class="list">Friends: {{ item.friend_names }}</dd>
          <dd class="list">Friend mix: {{ item.friend_mix }}</dd>
        </dl>
        {% if item.survey == None %}
        <a href="{% url 'pundit_tweet_list_view' %}" class='btn btn-danger btn-sm'>Start this party!</a>
        {% endif %}
        {% if item.survey != None %}
        <a href="{% url 'survey_detail_view' item.pk %}" class='btn btn-danger btn-sm'>Review party survey</a>
        {% endif %}
      </div>
    </div>
    <div class="wrapper">
      <div class="card col-md-3">
        <dl>
          <dd class="list">Name of your party: {{ item.party_name }}</dd>
          <dd class="list">Candidate: <a href='{{ item.candidate.website }}'>{{ item.candidate }}</a></dd>
          <dd class="list">Pundit: <a href="{{ item.pundit.website }}">{{ item.pundit }}</a></dd>
          <dd class="list">Friends: {{ item.friend_names }}</dd>
          <dd class="list">Friend mix: {{ item.friend_mix }}</dd>
          <dd class="list">{{ item.host }}</dd>
        </dl>
        <a href="{% url 'us_finance_list_view' %}" class='btn btn-danger btn-sm'>Start this party!</a>
      </div>
    </div>
  </div>

  {% endfor %}
  <div class="col-md-12">
    <a href="{% url 'dinner_party_create_view' %}" id="newparty" class='newparty btn btn-warning btn-sm'>Make a new party!</a>
  </div>
{% endblock %}
