{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="thanks col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/yourparties.png" />
    </div>
  </div>
</div>
<div class="col-xs-10 col-md-offset-3 col-md-6 talking">
  <h3>Create and host discussion parties </h3>
    <ol>
      <li>Create a party. Invite friends and (virtually) a candidate and a commentator.</li>
      <li>Start the party. We will walk you through Tweets, videos and campaign finance.</li>
      <li>Review your party. A quick survey for you to keep.</li>
      <br>
      <a class="partybtn btn btn-default" href="{% url 'dinner_party_create_view' %}" >Make a new party!</a>

    </ol>

</div>

  <div class="col-xs-10 col-md-offset-3 col-md-6 profile">
    <div class="imgwrapper">
      <img src="{{ photo }}" alt="" />
    </div>
    <dl>
      <dd>Occupation: {{ occupation }}</dd>
      <dd>Age: {{ age }}</dd>
      <dd>Registered to vote: {{ registered_to_vote }}</dd>
      <dd>Affiliation: {{ affiliation }}</dd>
      <dd>Email: {{ email }}</dd>
      <dd>City: {{ city }}</dd>
      <dd>State: {{ state }}</dd>
      <a class="partybtn2 btn btn-default" href="{% url 'profile_update_view' %}">Update profile</a>

    </dl>
  </div>



<div class="row">
  {% for party in object_list %}
    <div class="card col-xs-8 col-md-offset-3 col-md-4 col-lg-offset-3 col-lg-3">
        <dl>
          <dd class="list"><h4>Party name: </h4> {{ party.party_name }}</dd>
          <dd class="list"><h4>Candidate: </h4><a href='{{ party.candidate.website }}'>{{ party.candidate }}</a></dd>
          <dd class="list"><h4>Commentator: </h4><a href="{{ party.pundit.website }}">{{ party.pundit }}</a></dd>
          <dd class="list"><h4>Friends: </h4>{{ party.friend_names }}</dd>
          <dd class="list"><h4>Friend mix: </h4>{{ party.friend_mix }}</dd>
        </dl>
        {% if party.question_one == None %}
        <a href="{% url 'pundit_tweet_list_view' party.pk %}" class='partybtn btn btn-danger btn-sm'>Start this party!</a>
        {% endif %}
        {% if party.question_one != None %}
        <a href="{% url 'survey_detail_view' party.pk %}" class='partybtnblue btn btn-danger btn-sm'>Review party survey</a>
        {% endif %}
      </div>
  {% endfor %}
</div>
{% endblock %}
