{% extends "base.html" %}

{% block content %}
  <form class="" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group">
  <label for="id_occupation">Occupation: </label>
  {{ form.occupation }}
</div><div class="form-group">
  <label for="id_photo">Upload a photo:</label>
  {{ form.photo }}
</div><div class="form-group">
  <label for="id_age">Age:</label>
  {{ form.age }}
</div><div class="form-group">
  <label for="id_affiliation">Party identification:</label>
  {{ form.affiliation }}
</div><div class="form-group">
  <label for="id_registered_to_vote">Are you registered to vote?</label>
  {{ form.registered_to_vote }}
</div><div class="form-group">
  <label for="id_email">Your email address:</label>
  {{ form.email }}
</div><div class="form-group">
  <label for="id_city">City:</label>
  {{ form.city }}
</div>
</div><div class="form-group">
  <label for="id_state">State:</label>
  {{ form.state }}
</div>
<input type="submit" name="profile_update" value="Update profile">
  </form>
{% endblock %}
