{% extends "base.html" %}
{% load tz static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/keynote.png" />
    </div>
  </div>
</div>
  <h2>Candidates and their running mates, plus commentators</h2>
<div class="row">
    {% for candidate in candidates %}
      <div class="col-xs-6 col-md-3">
          <div class="gallery">
            <iframe class="embed-responsive-item" src={{ candidate.video_two }} allowfullscreen></iframe>
            <div class="caption">
              <h5>{{ candidate.name }}</h5>
              <h6>{{ candidate.affiliation }} for {{ candidate.office }}</h6>
              <br>
            </div>
          </div>
        </div>
    {% endfor %}
    {% for pundit in pundits %}
        <div class="col-md-6 col-md-4">
          <div class="gallery">
            <iframe class="embed-responsive-item" src={{ pundit.video_one }} allowfullscreen></iframe>
            <div class="caption">
              <h5>{{ pundit.name }}</h5>
              <h6>Leans: {{ pundit.affiliation }}</h6>
              <h6>Platforms: {{ pundit.employer }}</h6>
                <br>
            </div>
          </div>
        </div>
    {% endfor %}
    <div class="row">
      <div class="next2 col-md-12">
        <a href='{% url 'popular_tweet_list_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
      </div>
    </div>
{% endblock %}
