{% extends "base.html" %}
{% load tz static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/keynote.png" />
    </div>
  </div>
</div>
  <h2>Watch more videos. VIEW CODE UNDERWAY</h2>
<div class="row">
    {% for candidate in candidates %}
       {% if candidate.office == 'President' %}
        <div class="col-md-2">
          <div class="thumbnail">
            <img  src=" {{ candidate.photo_url }}" alt="">
            <div class="caption">
              <h5>
                {{ candidate.name }} -- {{ candidate.affiliation }}
                <br>
                {{ candidate.video_two}}
              </h5>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
    <form class="" action="" >
      <input class='btn btn-primary' type="submit" name="clinton" value="Clinton">
      <input class='btn btn-primary' type="submit" name="trump" value="Trump">
      <input class='btn btn-primary' type="submit" name="pundit" value="Pundit">
    </form>

    <br>

    <div class="embed-responsive embed-responsive-16by9">
    {% if video == 'clinton' %}
    <iframe class="embed-responsive-item" src={{ url }} ></iframe>
    {% endif %}

    {% if video == 'trump'  %}
    <iframe class="embed-responsive-item" src={{ url }} ></iframe>
    {% endif %}

    {% if video == 'pundit'  %}
    <iframe class="embed-responsive-item" src={{ url }} ></iframe>
    {% endif %}
    </div>
    <div class="row">
      <div class="next2 col-md-12">
        <a href='{% url 'popular_tweet_list_view' %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
      </div>
    </div>

{% endblock %}
