{% extends "base.html" %}
{% load tz %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/cantweets.png" />
    </div>
  </div>
</div>
<h4 class="col-sm-12 col-md-8 col-lg-offset-3 col-lg-4 thought">They all tweet. But what do they really say?</h4>
<div class="row">

  <div class="talk col-sm-6">
    <h3>Talk it over:</h3>
    <ol>
      <li>Do you usually follow Twitter comments by candidates?</li>
      <li>Describe the tone of comments?</li>
      <li>How can this help shape voting?</li>
    </ol>
  </div>
</div>

  {% autoescape off %}
    {% for tweet in popular_tweets %}
     {{ tweet }}
    {% endfor %}
  {% endautoescape %}

<h3><a href="{% url 'tweet_list_view' party_id %}">Optional deep dive:</a> See more popular tweets from other candidates</h3>
<div class="row">
  <div class="next2 col-md-12">
    <a href='{% url 'survey_create_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
  </div>
</div>
{% endblock %}
