{% extends "base.html" %}
{% load tz %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/cantweets.png" />
    </div>
  </div>
</div>
<h4 class="col-sm-12 col-md-8 col-lg-offset-3 col-lg-4 thought">Social media comments
      can provoke or chastise or challenge. These are the most popular recent ones.</h4>
<div class="row">
  <div class="talk col-sm-6">
    <h3>Talk it over: @{{ candidate }} on twitter</h3>
    <ol>
      <li>Do you get any political news from social media?</li>
      <li>Describe the tone of comments that you like the most.</li>
      <li>How can social media improve decision-making?</li>
    </ol>
  </div>
</div>
  {% autoescape off %}
    {% for tweet in popular_tweets %}
     {{ tweet }}
    {% endfor %}
  {% endautoescape %}
<h3><a href="{% url 'tweet_list_view' party_id %}">Optional deep dive:</a> See more popular tweets from other candidates and commentators</h3>
<div class="row">
  <div class="next2 col-md-12">
    <a href='{% url 'survey_create_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
  </div>
</div>
{% endblock %}
