{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <img class="logo" src="static/talk_app/img/hope2new.gif" />
    </div>
 </div>
</div>
<div class="homequote">
  <h1 class="col-sm-offset-2 col-sm-10 col-lg-12">It's time to talk politics!</h1>
  <h3 class="col-sm-offset-2 col-sm-10 col-lg-12">Learn a little, laugh a little, get to know your friends and neighbors a little.</h3>
<h5 class="col-sm-offset-2 col-sm-10 col-lg-12">Step 1: Create a party: Invite friends and (virtually) a candidate and a commentator.
Step 2: Start the party: We will walk you through Tweets, videos and campaign finance.
Step 3: Review your party: A quick survey for you to keep.</h5>
</div>
{% endblock %}
