{% extends "base.html" %}
{% load tz %}


{% block content %}
<h1>Social media fever</h1>
<h5>(Popularity combines favorites and retweets)</h5>
  <div class="col-md-6">

    <h3>@HillaryClinton</h3>
      <div class="panel panel-default">
        {% for tweet in clinton_popular %}
             <div class="panel-heading">
               <h3 class="panel-title"> <li>{{ tweet.popular }} Popularity ({{ tweet.retweet_count }} retweets plus {{ tweet.favorite_count }} favorites)</li>
               </h3>
             </div>
               <div class="panel-body">
                 <h4>{{ tweet.text }}</h4>
                 <p>{{ tweet.created_at }}
                  {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST</p>
               </div>
           {% endfor %}
         </div>
     </div>
   <div class="col-md-6">
     <h3>@realDonaldTrump</h3>
       <div class="panel panel-default">
         {% for tweet in trump_popular %}
            <div class="panel-heading">
              <h3 class="panel-title"> <li>{{ tweet.popular }} Popularity ({{ tweet.retweet_count }} retweets plus {{ tweet.favorite_count }} favorites)</li>
              </h3>
            </div>
              <div class="panel-body">
                <h4>{{ tweet.text }}</h4>
                <p>{{ tweet.created_at }}
                 {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST</p>
              </div>
          {% endfor %}
        </div>
    </div>




<h3>A whole bunch of unfiltered tweets</h3>
<div class="panel panel-default">
  {% for tweet in tweet_list %}
       <div class="panel-heading">
         <h3 class="panel-title">{{ tweet.username }} {{ tweet.created_at }}
           {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST
         </h3>
       </div>
         <div class="panel-body">
           <p>{{ tweet.text }}</p>

         </div>
     {% endfor %}
   </div>

{% endblock %}
