{% extends "base.html" %}
{% load tz %}


{% block content %}
<h1>Hey, watch this</h1>
<form class="" action="" >

  <input class='btn btn-primary' type="submit" name="clinton" value="Clinton">
  <input class='btn btn-primary' type="submit" name="trump" value="Trump">
  <input class='btn btn-primary' type="submit" name="pundit" value="Pundit">

</form>

<br>
<br>
<div class="embed-responsive embed-responsive-16by9">
{% if candidate = 'clinton' %}
<iframe class="embed-responsive-item" width="560" height="315" src={{ url }}  allowfullscreen></iframe>
{% endif %}

{% if candidate = 'trump'  %}
<iframe class="embed-responsive-item" width="560" height="315" src={{ url }}  allowfullscreen></iframe>
{% endif %}

{% if candidate = 'pundit'  %}
<iframe class="embed-responsive-item" width="560" height="315" src={{ url }}  allowfullscreen></iframe>
{% endif %}
</div>





{% endblock %}
