
{% extends "base.html" %}
{% load tz static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/keynote.png" />
    </div>
  </div>
</div>

<h4 class="col-xs-12 col-md-6 col-lg-6 thought">Speeches can outline
  promises or warn of danger or address current events. The goal is to energize
  supporters to vote.</h4>

  <div class="row">
    <div class="talk col-xs-12 col-md-6 col-lg-6 col-sm-6">
      <h3>Talk it over: The Keynote Speech </h3>
        <ol>
          <li>What does this speech make you think the future of America?</li>
          <li>Do you expect candidates to be precise about facts in their speeches?</li>
          <li>Which part of the speech inspires you?</li>
        </ol>
    </div>
  </div>

  <div class="col-sm-12 col-md-offset-1 col-md-10  embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src='{{ video }}' ></iframe>
  </div>
  <h3 class="col-sm-12"><a href="{% url 'video_list_view' party_id %}">Optional deep dive:</a> See videos from other candidates and commentators</h3>
  <div class="row">
    <div class="next2 col-md-12">
      <a href='{% url 'popular_tweet_list_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
    </div>
  </div>

{% endblock %}
