{% extends "base.html" %}
{% load tz static %}

{% block content %}
<div class="page-wrap">

<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/keynote.png" />
    </div>
  </div>
</div>

<h4 class="col-xs-12 col-md-6 col-lg-6 thought">Speeches can outline
  promises or warn of danger or address current events. The goal is to energize
  supporters to vote.</h4>

  <div class="row">
    <div class="talk col-xs-12 col-md-6 col-lg-6">
      <h3>Talk it over: The Keynote Speech </h3>
        <ol>
          <li>Does this speech match how you personally see America?</li>
          <li>Did you wonder about the accuracy of any part?</li>
          <li>Did this speech inspire you? Has any other speech this year?</li>
        </ol>
    </div>
  </div>

  <div class="col-sm-12 col-md-offset-1 col-md-10  embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src='{{ video }}' ></iframe>
  </div>
  <h3 class="padding"><a href="{% url 'video_list_view' party_id %}">Optional deep dive:</a> See videos from other candidates and commentators</h3>
</div>

  <div class="row">
    <div class="move next2 col-md-12">
      <a href='{% url 'popular_tweet_list_view' party_id %}'>
        <div class="next">
          <h5>&copy;2016. Built by Hope E. Paasch, www.hepaasch.com</h5>

          <img class="arrow" src="/static/talk_app/img/next.png" />
        </div>
      </a>
    </div>
  </div>
{% endblock %}
