{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/locfin.png" />
    </div>
  </div>
</div>
<h4 class="col-sm-12 col-md-8 col-lg-offset-3 col-lg-4 thought">Giving happens
  at all levels. In some ZIP Codes, a candidate may raise only a few hundred dollars.</h4>
 <div class="row">

 <div class="talk col-sm-6">
     <h3>Talk It Over: Close to home</h3>
       <ol>
         <li>What surprises you about the money that's been raised?</li>
         <li>Do you have concerns about how money is raised?</li>
         <li>Trump loaned his campaign $45 million. Clinton loaned her's zero. How should candidates use personal wealth?</li>
       </ol>
   </div>
 </div>

   <div class="col-sm-5">
     <form>
        <input type="number" name="zip" maxlength="5">
        <input type="submit" value="ZIP LookUp"> (5 digits, such as 76067)
      </form>
     <br>
     <form>
        <input type="text" name="state" maxlength="2">
        <input type="submit" value="State LookUp"> (2-letter abbreviation)
      </form>
     <div>
       <h3>Amount raised in {{ place }}: ${{ total|floatformat:0 }}</h3>
        {% for candidate in report %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ candidate.full_name }}, {{ candidate.party }}</h3>
          </div>
          <div class="panel-body">
            <h4>${{ candidate.total|floatformat:0 }}</h4>
          </div>
        </div>
        {% endfor %}
     </div>
   </div>
  <div class="row">
    <div class="next2 col-md-12">
      <a href='{% url 'candidate_keynote_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
    </div>
  </div>
{% endblock %}
