{% extends "base.html" %}

{% block content %}
  <h3>Choose your guests</h3>
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="submitbtn" type="submit" name="party" value="Choose guests">
  </form>
<h3>NOT WORKING YET Add your own video by pasting in a URL</h3>
  <form class="" action="" method="post" >
    {% csrf_token %}
    {{ video_form.name }}
    <input class="btn btn-default" type="submit" name="video" value="Add Video">
  </form>

{% endblock %}
