{% extends "base.html" %}
{% load tz %}


{% block content %}
<form class="" action="" >
  <input class='btn btn-primary' type="submit" name="clinton" value="Clinton">
  <input class='btn btn-primary' type="submit" name="trump" value="Trump">
  <input class='btn btn-primary' type="submit" name="stein" value="Stein">
  <input class='btn btn-primary' type="submit" name="johnson" value="Johnson">
  <a href='{% url 'quiz_create_view' %}' class='btn btn-primary'>Quiz</a>
</form>

{% autoescape off %}
{% for tweet in candidate_list %}
  {{ tweet }}
{% endfor %}
{% endautoescape %}
{% endblock %}

<h1>Social media fever</h1>
<h5>(Popularity combines favorites and retweets)</h5>
  <div class="col-md-6">

    <h3>@HillaryClinton</h3>
      <div class="panel panel-default">
        {% for tweet in clinton_popular %}
           <div class="panel-heading">
             <h3 class="panel-title"> <li>{{ tweet.popular }} Popularity ({{ tweet.retweet_count }} retweets plus {{ tweet.favorite_count }} favorites)</li>
             </h3>
           </div>
             <div class="panel-body">
               <h4>{{ tweet.text }}</h4>
               <p>{{ tweet.created_at }}
                {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST</p>
             </div>
         {% endfor %}
       </div>
   <h3>@GovGaryJohnson</h3>
     <div class="panel panel-default">
       {% for tweet in johnson_popular %}
          <div class="panel-heading">
            <h3 class="panel-title"> <li>{{ tweet.popular }} Popularity ({{ tweet.retweet_count }} retweets plus {{ tweet.favorite_count }} favorites)</li>
            </h3>
          </div>
            <div class="panel-body">
              <h4>{{ tweet.text }}</h4>
              <p>{{ tweet.created_at }}
               {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST</p>
            </div>
        {% endfor %}
      </div>
    </div>

   <div class="col-md-6">
     <h3>@realDonaldTrump</h3>
       <div class="panel panel-default">
         {% for tweet in trump_popular %}
            <div class="panel-heading">
              <h3 class="panel-title"> <li>{{ tweet.popular }} Popularity ({{ tweet.retweet_count }} retweets plus {{ tweet.favorite_count }} favorites)</li>
              </h3>
            </div>
              <div class="panel-body">
                <h4>{{ tweet.text }}</h4>
                <p>{{ tweet.created_at }}
                 {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST</p>
              </div>
          {% endfor %}
        </div>
        <h3>@DrJillStein</h3>
          <div class="panel panel-default">
            {% for tweet in stein_popular %}
               <div class="panel-heading">
                 <h3 class="panel-title"> <li>{{ tweet.popular }} Popularity ({{ tweet.retweet_count }} retweets plus {{ tweet.favorite_count }} favorites)</li>
                 </h3>
               </div>
                 <div class="panel-body">
                   <h4>{{ tweet.text }}</h4>
                   <p>{{ tweet.created_at }}
                    {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST</p>
                 </div>
             {% endfor %}
           </div>
    </div>
