{% extends "base.html" %}
{% load tz %}


{% block content %}
<h1>They all tweet, though Trump was the early master.</h1>
<h4>Which comments do people most engage with? Click on a candidate to see their Top 5 most popular.</h4>
   <div class="row">
   {% for candidate in candidates %}
      {% if candidate.office == 'President' %}
       <div class="col-md-2">
         <div class="thumbnail">
           <img class="img-circle" src=" {{ candidate.photo_url }}" alt="">
           <div class="caption">
             <form class="" action="" >
               <input class='btn btn-primary btn-xs' type="submit" name="candidate" value="@{{ candidate.twt_username }}">
             </form>
             <h5>
               {{ candidate.affiliation }}
             </h5>
           </div>
         </div>
       </div>
     {% endif %}
   {% endfor %}
   </div>
   <h3>Review tweets then click when you're ready for discussion questions.</h3>
   <a href='{% url 'quiz_create_view' %}' class='btn btn-primary'>Quiz</a>

   {% autoescape off %}
     {% for tweet in popular_tweets %}
       {{ tweet }}
     {% endfor %}
   {% endautoescape %}
<h6>(NOTE: Tweets are ranked with most popular at the top. Retweets and Likes are combined to give an overall measure)</h6>

{% endblock %}
