{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/comtweets.png" />
    </div>
  </div>
</div>


  <h4 class="col-xs-12 col-md-6 col-lg-6 thought">What's a pundit?
    Someone who thinks they know stuff that the rest of us should listen to. Sometimes they do. </h4>
<div class="row">
  <div class="talk col-xs-12 col-md-6 col-lg-6 col-sm-6">
    <h3>Talk It Over: Top 5 tweets from @{{ pundit}}</h3>
    <ol>
      <li>What tone do these tweets set for your discussion??</li>
      <li>Any surprises you about the reaction to @{{ pundit }}'s tweets'?</li>
      <li>What role do you think social media should play in how people vote?</li>
    </ol>
  </div>
  <dl class="col-sm-12 col-md-offset-4 col-md-4">
    {% autoescape off %}
      {% for tweet in popular_tweets %}
       {{ tweet }}
      {% endfor %}
    {% endautoescape %}

  </dl>
</div>



  <div class="row">
    <div class="move next2 col-sm-12">
      <a href='{% url 'us_finance_list_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
    </div>
  </div>
{% endblock %}
