{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/natfin.png" />
    </div>
  </div>
</div>
  <h2>This needs it's own header. Cuz the page is really tweets from a pundit</h2>
  <h4>What's a pundit? Someone who thinks they know stuff that the rest of us should listen to</h2>
<ul>
  {% for tweet in tweets %}
  <li>{{ tweet.text }}</li>
  {% endfor %}

</ul>


  {{ tweet.text }}
  <div class="row">
    <div class="next2 col-md-12">
      <a href='{% url 'us_finance_list_view' %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
    </div>
  </div>
{% endblock %}
