{% extends "base.html" %}

{% block content %}
<div class="col-md-6">
  <h3>Talk it over. Then go on to the  <a href='{% url 'video_list_view' %}'>Keynote</a>.</h3>

  <li><h4>Have you or anyone you know given or thought about giving to a candidate?</h4></li>
  <li><h4>Any surprises for you in these numbers?</h4></li>
  <li><h4>What role do you think money has in affecting whether people vote?</h4></li>
  <p>
    add voter registration breakdown
  </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">${{ nc_total.total__sum|floatformat:0 }}: Raised in North Carolina</h3>
      </div>
      {% for item in clinton_list %}
        {% if item.state == 'NC' %}
          <div class="panel-body">
            <li>${{ item.total|floatformat:0 }} -- {{ item.full_name }} </li>
        {% endif %}
      {% endfor %}
      {% for item in trump_list %}
        {% if item.state == 'NC' %}
            <li>${{ item.total|floatformat:0 }} -- {{ item.full_name }} </li>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">${{ sc_total.total__sum|floatformat:0 }}: Raised in South Carolina</h3>
      </div>
      {% for item in clinton_list %}
        {% if item.state == 'SC' %}
          <div class="panel-body">
            <li>${{ item.total|floatformat:0 }} -- {{ item.full_name }} </li>
        {% endif %}
      {% endfor %}
      {% for item in trump_list %}
        {% if item.state == 'SC' %}
            <li>${{ item.total|floatformat:0 }} -- {{ item.full_name }} </li>
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
<h1>Form will be here on how to search a ZIP Code or a city.</h1>
{% endblock %}
