{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="survey col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/survey.png" />
    </div>
  </div>
</div>
<form class="" action="" method="post">
  <div class="form-group">
  {% csrf_token %}
  <ol>
    <li>Overall discussion intensity: {{ form.question_one }}</li>
    <li>Topic with the best discussion: {{ form.question_two }}</li>
    <li>This part helped people talk the most: {{ form.question_three }}</li>
    <li>What made you laugh? What made you angry? {{ form.question_four }}</li>
    <li>Something we learned: {{ form.question_five }}</li>
    <li>Did anyone change their mind about an issue or candidate? {{ form.question_six }}</li>
    <li>What would've improved the quality of the discussion? {{ form.question_seven }}</li>
  </ol>
  <input class='partybtn btn' type="submit" name="video_quiz" value="We're done!">
</div>
</form>
{% endblock %}
