{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="survey col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/survey.png" />
    </div>
  </div>
</div>
<form class="" action="" method="post">
  <div class="form-group">
  {% csrf_token %}
  <ol>
    <li>{{ form.question_one }}</li>
    <li>{{ form.question_two }}</li>
    <li>{{ form.question_three }}</li>
    <li>{{ form.question_four }}</li>
    <li>{{ form.question_five }}</li>
    <li>{{ form.question_six }}</li>
    <li>{{ form.question_seven }}</li>
  </ol>
  <input class='partybtn btn' type="submit" name="video_quiz" value="We're done!">
</div>
</form>
{% endblock %}

dinner
host
discussion_intensity
change_mind
what_changed
made_choice
who_choose
top_topic
