{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="survey col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/survey.png" />
    </div>
  </div>
</div>
<h4 class="col-xs-12 col-md-6 col-lg-6 thought">Conversation
  can be fun and challenging. Assessing the experience can help bring closure.
</h4>
<div class="row">
  <div class="talk col-xs-12 col-md-6 col-lg-6 col-sm-6">
    <h3>Talk it over: Review your party </h3>
      <ol>
        <li>Answer the questions below as a group.</li>
        <li>The party host can review the results at any time.</li>
        <li>Information will inform future development.</li>
      </ol>
  </div>
</div>
<form class="login col-xs-12 col-md-offset-3 col-md-6" action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_question_one">Overall discussion intensity:</label><br />
    {{ form.question_one }}
  </div>
  <div class="form-group">
    <label for="id_question_two">Topic with the best discussion:</label><br />
    {{ form.question_two }}
  </div>
  <div class="form-group">
    <label for="id_question_three">This part helped people talk the most:</label><br />
    {{ form.question_three }}
  </div>
  <div class="form-group">
    <label for="id_question_four">What made you laugh? What made you angry? </label><br />
    {{ form.question_four }}
  </div>
  <div class="form-group">
    <label for="id_question_five">Something we learned: </label><br />
    {{ form.question_five }}
  </div>
  <div class="form-group">
    <label for="id_question_six">Did anyone change their mind about an issue or candidate? </label><br />
    {{ form.question_six }}
  </div>
  <div class="form-group">
    <label for="id_question_seven">What would've improved the quality of the discussion? </label><br />
    {{ form.question_seven }}
  </div>
  <input class='partybtn btn' type="submit" name="video_quiz" value="We're done!">
</div>
</form>
<h5>&copy;2016. Built by Hope E. Paasch, www.hepaasch.com</h5>

{% endblock %}
