{% extends "base.html" %}
{% load tz %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/deepdive_tweets.png" />
    </div>
  </div>
</div>
<h2>Click on a candidate or commentator to see their recent popular tweets</h2>
   <div class="col-lg-4">
       <div class="col-lg-6">
         {% for candidate in candidates %}
            {% if candidate.office == 'President' %}

         <div class="thumbnail">
           <div class="imgwrapper2">
             <img src=" {{ candidate.photo_url }}" alt="">
           </div>
           <div class="caption">
             <form class="" action="" >
               <input class='btn btn-primary btn-xs' type="submit" name="candidate" value="@{{ candidate.twt_username }}">
             </form>
               <h6>{{ candidate.affiliation }} for {{ candidate.office }}</h6>
           </div>
         </div>
         {% endif %}
       {% endfor %}

       </div>

   {% for candidate in candidates %}
      {% if candidate.office == 'VP' %}
       <div class="col-lg-6">
         <div class="thumbnail">
           <div class="imgwrapper2">
             <img src=" {{ candidate.photo_url }}" alt="">
           </div>
           <div class="caption">
             <form class="" action="" >
               <input class='btn btn-primary btn-xs' type="submit" name="candidate" value="@{{ candidate.twt_username }}">
             </form>
               <h6>{{ candidate.affiliation }} for {{ candidate.office }}</h6>
           </div>
         </div>
       </div>
     {% endif %}
   {% endfor %}
   {% for pundit in pundits %}
       <div class="col-lg-6">
         <div class="thumbnail">
           <div class="imgwrapper2">
             <img src=" {{ pundit.photo_url }}" alt="">
           </div>
           <div class="caption">
             <form class="" action="" >
               <input class='btn btn-primary btn-xs' type="submit" name="candidate" value="@{{ pundit.twt_username }}">
             </form>
             <h6>Leans: {{ pundit.affiliation }}</h6>
             <h6>Platforms: {{ pundit.employer }}</h6>
            </div>
         </div>
       </div>
   {% endfor %}
   </div>

<div class="col-lg-offset-1 col-lg-6">
{% autoescape off %}
  {% for tweet in popular_tweets %}
   {{ tweet }}
  {% endfor %}
{% endautoescape %}
</div>

<div class="row">
  <div class="next2 col-md-12">
    <a href='{% url 'survey_create_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
  </div>
</div>
{% endblock %}
