{% extends "base.html" %}
{% load tz %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/cantweets.png" />
    </div>
  </div>
</div>
<h1>All the presidential tweets</h1>
<div class="row">
  <div class="next2 col-md-12">
    <a href='#'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
  </div>
</div>
  <div class="col-md-6">
    <div class="panel panel-default">
      {% for tweet in object_list %}
           <div class="panel-heading">
             <h3 class="panel-title">{{ tweet.username }} {{ tweet.created_at }}
               {% timezone 'America/New_York' %} {{ tweet.created|time:"g:iA"|lower }} {% endtimezone %} EST
             </h3>
           </div>
             <div class="panel-body">
               <p>{{ tweet.text }}</p>
             </div>
       {% endfor %}
     </div>
   </div>
   <h4>Click on a candidate to see their Top 5 most popular.</h4>
      <div class="row">
      {% for candidate in candidates %}
         {% if candidate.office == 'President' %}
          <div class="col-md-2">
            <div class="thumbnail">
              <img class="img-circle" src=" {{ candidate.photo_url }}" alt="">
              <div class="caption">
                <form class="" action="" >
                  <input class='btn btn-primary btn-xs' type="submit" name="candidate" value="@{{ candidate.twt_username }}">
                </form>
                <h5>
                  {{ candidate.affiliation }}
                </h5>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </div>
   <h6>(NOTE: Tweets are ranked with most popular at the top. Retweets and Likes are combined to give an overall measure)</h6>

{% endblock %}
