{% extends "base.html" %}

{% block content %}
<h2>Nearly $1 billion donated to 2016 presidential candidates</h2>
<h3>Actual total: ${{ us_total }} </h3>
<p>
  What will they spend it on?
  What happens to the leftover money?
  What surprises you?
</p>
<p>
  2000
 Al Gore: $127.1 million
 George W. Bush: $172.1 million
</p>
<h4>Candidates ranked below by cash on hand</h4>
<h6>All data as of June 30, 2016. Does not include other fundraising entities, such as PACs.</h6>
<div class="col-md-6">
  <h4>Republicans raised ${{ r_total.total__sum|floatformat:0 }}</h4>
    {% for candidate in republican %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
      </div>
      <div class="panel-body">
        Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
      </div>
    </div>
    {% endfor %}

</div>

<div class="col-md-6">
  <h4>Democrats raised ${{ d_total.total__sum|floatformat:0 }}</h4>
    {% for candidate in democrat %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
        </div>
        <div class="panel-body">
          Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
        </div>
      </div>
    {% endfor %}
  <h4>Libertarian</h4>
    {% for candidate in libertarian %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
        </div>
        <div class="panel-body">
          Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
        </div>
      </div>
    {% endfor %}
  <h4>Green Party</h4>
    {% for candidate in green %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
        </div>
        <div class="panel-body">
          Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}
