{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/deepdive_fin.png" />
    </div>
  </div>
</div>
<h2 class="padding">Money raised by 25 presidential candidates for this election</h2>
<p class="padding">A little bit of history: In the 2000 election, Republican George W. Bush
  raised $172 million, considerably more than Democrat Al Gore. Bush won a narrow election.</p>
<div class="col-md-6">
  <h3>Republicans raised ${{ r_total.total__sum|floatformat:0 }}</h3>
    {% for candidate in republican %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
      </div>
      <div class="panel-body">
        Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
      </div>
    </div>
    {% endfor %}


</div>

<div class="col-md-6">
  <h3>Democrats raised ${{ d_total.total__sum|floatformat:0 }}</h3>
    {% for candidate in democrat %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
        </div>
        <div class="panel-body">
          Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
        </div>
      </div>
    {% endfor %}
  <h3>Libertarian</h3>
    {% for candidate in libertarian %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
        </div>
        <div class="panel-body">
          Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
        </div>
      </div>
    {% endfor %}
    <h3>Green Party</h3>
      {% for candidate in green %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">${{ candidate.total|floatformat:0 }}: {{ candidate.name }}</h3>
          </div>
          <div class="panel-body">
            Cash on hand: ${{ candidate.cash_on_hand|floatformat:0 }}
          </div>
        </div>
      {% endfor %}
  </div>

<h6>Candidates ranked by cash on hand. FEC data as of June 30, 2016, sourced from ProPublica. Does not include other fundraising entities, such as PACs.</h6>
<div class="row">
  <div class="next2 col-md-12">
    <a href='{% url 'local_finance_list_view' party_id %}'><div class="next">
      <h5>&copy;2016. Built by Hope E. Paasch, www.hepaasch.com</h5>

      <img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
  </div>
</div>
{% endblock %}
