{% extends "base.html" %}

{% block content %}
<h2>Nearly $1 billion donated to 2016 presidential candidates</h2>
<p>A little bit of history: In the 2000 election, Republican George W. Bush
  raised $172 million, considerably more than Democrat Al Gore. Bush won a narrow election.
</p>
<h3>Talk it over.</h3>
  <ul>
    <li><h4>What surprises you about the money that's been raised?</h4></li>
    <li><h4>Do you have concerns about how money is raised?</h4></li>
    <li><h4>Trump loaned his campaign $xx million. Clinton loaned hers zero. How should elections be paid for?</h4></li>
  </ul>
<h3>Next: <a href='{% url 'local_finance_list_view' %}'>Local Money</a>.</h3>
<div class="col-md-6">
    {% for candidate in republican %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Republicans raised ${{ r_total.total__sum|floatformat:0 }}</h3>
      </div>
      <div class="panel-body">
        <h4>{{ candidate.name }}</h4>
          <ul>
            <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
            <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
          </ul>
      </div>
    </div>
    {% endfor %}
      {% for candidate in green %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Green Party</h3>
          </div>
          <div class="panel-body">
            <h4>{{ candidate.name }}</h4>
              <ul>
                <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
                <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
              </ul>
          </div>
        </div>
      {% endfor %}

</div>

<div class="col-md-6">
    {% for candidate in democrat %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Democrats raised ${{ d_total.total__sum|floatformat:0 }}</h3>
        </div>
        <div class="panel-body">
          <h4>{{ candidate.name }}</h4>
            <ul>
              <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
              <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
            </ul>
        </div>
      </div>
    {% endfor %}
  <h4></h4>
    {% for candidate in libertarian %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Libertarian</h3>
        </div>
        <div class="panel-body">
          <h4>{{ candidate.name }}</h4>
            <ul>
              <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
              <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
            </ul>
        </div>
      </div>
    {% endfor %}
  </div>
<hp>Candidates ranked by cash on hand. All data as of June 30, 2016. Does not include other fundraising entities, such as PACs.</p>

<h3><a href="#"></a>Go deeper: See how much was raised by all of the 2016 presidential candidates. </h3>
{% endblock %}
