{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="header">
      <img class="head col-xs-12 col-md-6 col-lg-8" src="/static/talk_app/img/natfin.png" />
    </div>
  </div>
</div>

<h4 class="col-sm-12 col-md-8 col-lg-offset-3 col-lg-4 thought">The 2016 presidential race could cost $5 billion, with most from PACs. Here, we focus on candidate fundraising.
 </h4>

<div class="row">

<div class="talk col-sm-6">
    <h3>Talk It Over: Candidates raise nearly $1 billion so far</h3>
      <ol>
        <li>What surprises you about the money that's been raised?</li>
        <li>Do you have concerns about how money is raised?</li>
        <li>Trump loaned his campaign $45 million. Clinton loaned her's zero. How should candidates use personal wealth?</li>
      </ol>
  </div>
</div>
<div class="col-md-6">
    {% for candidate in republican %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Republicans raised ${{ r_total.total__sum|floatformat:0 }}</h3>
      </div>
      <div class="panel-body">
        <h4>{{ candidate.name }}</h4>
          <ul>
            <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
            <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
          </ul>
      </div>
    </div>
    {% endfor %}
      {% for candidate in green %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Green Party</h3>
          </div>
          <div class="panel-body">
            <h4>{{ candidate.name }}</h4>
              <ul>
                <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
                <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
              </ul>
          </div>
        </div>
      {% endfor %}
</div>
<div class="col-md-6">
    {% for candidate in democrat %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Democrats raised ${{ d_total.total__sum|floatformat:0 }}</h3>
        </div>
        <div class="panel-body">
          <h4>{{ candidate.name }}</h4>
            <ul>
              <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
              <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
            </ul>
        </div>
      </div>
    {% endfor %}
  <h4></h4>
    {% for candidate in libertarian %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Libertarian</h3>
        </div>
        <div class="panel-body">
          <h4>{{ candidate.name }}</h4>
            <ul>
              <li>${{ candidate.total|floatformat:0 }} Total contributions</li>
              <li>${{ candidate.cash_on_hand|floatformat:0 }} Cash on hand</li>
            </ul>
        </div>
      </div>
    {% endfor %}
  </div>
<h6>FEC data as of June 30, 2016, sourced from ProPublica. Does not include other fundraising entities, such as PACs.</h6>
<h3><a href="{% url 'us_finance_deep_list_view' party_id %}">Optional deep dive:</a> See how much was raised by all of the 2016 presidential candidates</h3>
<div class="row">
  <div class="move next2 col-md-12">
    <a href='{% url 'local_finance_list_view' party_id %}'><div class="next"><img class="arrow" src="/static/talk_app/img/next.png" /></div></a>
  </div>
</div>
{% endblock %}
