{% extends "base.html" %}

{% block content %}
  {% for item in object_list %}
    <li>Name of your party: {{ item.party_name }}</li>
    <li>Candidate: <a href='{{ item.candidate.website }}'>{{ item.candidate }}</a></li>
    <li>Pundit: <a href="{{ item.pundit.website }}">{{ item.pundit }}</a></li>
    <li>Friends: {{ item.friend_names }}</li>
    <li>Friend mix: {{ item.friend_mix }}</li>
    <a href="{% url 'video_list_view' %}" class='btn btn-danger btn-sm'>Start this party!</a>
    <br>
    <br>
    <br>
  {% endfor %}
{% endblock %}
