.logo{
  width: 100%;
}

#header{
  padding: 0;
  margin: 0;
}

div.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.navbar{
  height: 70px;
  margin-bottom: 0;
}

.navbar a{
  margin-top: 20px;
  float: right;
  margin-right: 10px;
}

.btn{
  border-radius: 0;
  background-color: rgb(191, 73, 77);
  border-color: rgb(191, 73, 77);
  color: white;
}

.btn:hover{
  background-color: rgb(74, 74, 101);
  border-color: rgb(74, 74, 101);
}

.submitbtn{
  background-color: rgb(191, 73, 77);
  border: none;
  color: white;
}

.submitbtn:hover{
  background-color: rgb(74, 74, 101);
}

.partylist{
  margin-top: 20px;
}
